* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.labels {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
  letter-spacing: 5px;
}
.text {
  display: flex;
  font-weight: 300;
  cursor: pointer;
  gap: 10px;
}
.color-label {
  font-weight: 600;
  color: rgb(75, 171, 209);
  cursor: pointer;
}
.color-label:hover {
  color: black;
}
.hex:hover {
  color: rgb(75, 171, 209);
}
.hex:active {
  color: rgb(238, 238, 238);
}

.hex-label:hover {
  color: rgb(75, 171, 209);
}
.hex-label:active {
  color: rgb(238, 238, 238);
}
.center {
  background-color: silver;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.background-text {
  display: flex;
  margin-top: -200px;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 5px;
  color: white;
  min-width: 1100px;
  width: fit-content;
  height: 150px;
  align-items: center;
  background-color: rgb(57, 57, 57);
  padding: 0 40px;
  border-radius: 20px;
}
#btn {
  background-color: transparent;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 20px 30px;
  border-radius: 10px;
  border: 2px solid blue;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#btn:active {
  transform: scale(1.025);
}
#btn:hover {
  background-color: black;
  color: white;
}
